---
meta:
    description:
        Creates a S3 bucket that pushes events to the Lambda processor

    parameters:
        lambda_function_arn:
            description:
                The ARN of the Lambda function
            value:
